<h3>Create a new Nighthawk</h3>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<%  end %>  


<form class="" action="/nighthawks" method="post">
  <div class="">
    Name:
    <input type="text" name="name">
  </div>

  <div class="">
    Home:
    <input type="text" name="home">
  </div>

  <input type="submit" value="Create">
</form>
